@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

// Clear styles
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

// General Styling
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

header {
    padding: 1rem;
    background: dodgerblue;
    color: white;
    box-shadow: 0px 2px 5px rgba($color: #000, $alpha: 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    p {
        font-family: "Roboto", sans-serif;
    }

    h1 {
        font-size: 24px;
        letter-spacing: 0.05rem;
    }
}

.root {
    padding: 1rem;

    p {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        font-family: "Poppins", sans-serif;
        border-bottom: 1px solid #DDD;
        transition: 250ms;

        &:hover {
            background-color: #DDD;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}